package ${package}.domain;

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
#if(${hasDate})
import java.util.Date;
#end

/**
 * ${tableComment}表 ${tableNameDB}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@TableName(value = "${tableNameDB}")
@ApiModel(value = "${apiModel}-domain-${className}")
public class ${className} {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if(${column.columnName}!='ida'&&${column.columnName}!='createBya'&&${column.columnName}!='createTimea'&&${column.columnName}!='updateBya'&&${column.columnName}!='updateTimea'&&${column.columnName}!='remarka')
	/**
	 * $column.columnComment
	 */
    @TableField(value = "$column.columnName")
    @ApiModelProperty(value = "$column.columnComment")
	private $column.attrType $column.columnName;
#end
#end

}
